/html
/md
/vendor
/tmp
tmp/
/public/storage
.env
/spec/examples.txt

google*.html
assets/css
assets/podcast/episodes
images/sherpa*.svg
references
resources
dev/


### Jekyll ###
_site
_site/
_drafts
_includes/amp/components
_includes/sandbox
_includes/sand*.html
_scripts
.jekyll-metadata
/.jekyll-metadata
.publish/
comments.json
# metadata.json
validate

### Ruby ###
# Gemfile
Gemfile.lock
.bundle

### Always-ignore files and folders ###
*.diff
*.err
*.log
*.orig
*.rej
*.swn
*.swo
*.swp
._*
*~

### Ignore packages ###
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

### Packages ###
node_modules
node_modules/
/node_modules
bower_components
npm-debug.log

### Sass ###
_sass
.sass-cache
.sass-cache/
*.css.map

### Linux ###
*~

### OSX ###
.DS_Store
*.DS_Store
.AppleDouble
.LSOverride

### Linux ###
*~
.Trash-*

### Windows ###
# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### Lighthouse ###
validate/log.json
