<section id="blog-loop" class="cf frame wrapper">
  <div class="container">

    <header class="section-header">From the Rx Pad</header>

    <amp-accordion id="hidden-header" disable-session-states>
    {% for post in site.posts %}
      <section class="blog-post">
        <header class="blog-meta">
          <span class="post-no">{{post.number}}</span>
          <span class="post-title post-link" href="{{ post.url | relative_url }}">{{ post.title }}</span>
          <span class="post-meta post-date">{{ post.date | date_to_string }}</span>
        </header>

        <article>
          <p class="post-excerpt">{{post.excerpt}}</p>
          <span class="more"><a class="post-link" href="{{ post.url | relative_url }}">Read More</a></span>
          <a class="post-link" href="{{ post.url | relative_url }}">permalink</a>
        </article>

      </section>
    {% endfor %}
    </amp-accordion>

<div class="items">
  {% for post in site.posts %}
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
    <header class="post-header">
      <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
      <time class="post-meta date" datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time>
      {% if post.category %}<span class="post-meta category">{{ post.category }}</span>{% endif %}
      </header>
    <main class="post-excerpt" itemprop="description">
      <p>{{ post.excerpt | strip_html | truncatewords: 75 }}
        <span class="link"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">Read More</a></span>
        </p>
      </main>
    </article>
  {% endfor %}
  </div>

  </div>
</section>
