<section id="blog-loop" class="cf frame wrapper">
  <div class="container">

    <header class="section-header">Getting Started</header>

    <amp-accordion id="hidden-header">

    {% for post in site.posts %}
      <section class="blog-post">

        <header class="blog-meta">
          <span class="post-no">{{post.number}}</span>
          <span class="post-title">{{ post.title }}</span>
          <time class="post-date" datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time>
          <div class="expand">Read More
            <a class="post-link" href="{{ post.url | relative_url }}"><amp-img src="/images/icons/link-dark-24.svg" alt="link" height="12" width="12"></amp-img></a></div>
          <div class="post-excerpt" expanded><p>{{post.excerpt}}</p></div>
        </header>

        <article expanded itemscope itemtype="http://schema.org/BlogPosting" role="article">{{post.content}}</article>
      </section>
    {% endfor %}

    </amp-accordion>

<div class="items">
  {% for post in site.posts %}
  <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
    <header class="post-header">
      <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
      <time class="post-meta date" datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time>
      {% if post.category %}<span class="post-meta category">{{ post.category }}</span>{% endif %}
      </header>
    <main class="post-excerpt" itemprop="description">
      <p>{{ post.excerpt | strip_html | truncatewords: 75 }}
        <span class="link"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">Read More</a></span>
        </p>
      </main>
    </article>
  {% endfor %}
  </div>

  </div>
</section>
