<section id="podcast-loop" class="cf frame wrapper">
  <div class="container">
    <header class="section-header">Podcasts</header>

    <amp-accordion id="hidden-header" disable-session-states>
      <section class="episode">
        <div class="episode-meta">
          <span class="episode-no">001</span>
          <span class="episode-title">Location</span>
          <span class="expand">Expand Media Player</span>
          <span class="collapse">Collapse</span>
          <p class="episode-description">On this episode, we talk about location.</p>
        </div>
        <div class="episode-playback">
          <amp-soundcloud height="166" layout="fixed-height" data-trackid="255459161" data-color="444444"></amp-soundcloud>
        </div>
      </section>

      <section class="episode">
        <div class="episode-meta">
          <span class="episode-no">002</span>
          <span class="episode-title">Not Location</span>
          <span class="expand">Expand Media Player</span>
          <span class="collapse">Collapse</span>
          <p class="episode-description">On this episode, we talk about something other than location.</p>
        </div>

        <div class="episode-playback">
          <span class="playback-play">+</span>
          <span class="playback-timebar"></span>
          <span class="playback-remaining">10:00</span>
        </div>
      </section>
    </amp-accordion>

  </div>
</section>
