<!doctype html>
<html ⚡>
{% include head.html %}

<body>
  <main class="page-content wrapper" aria-label="Content">
    {{ content }}
  </main>

  {% include footer.html %}
  {% include header.html %}

  {% include amp/analytics.html %}

  <script async src="{{ "/assets/scripts/main.min.js" | relative_url }}"></script>
  <script async>
  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('{{ "/sw.js" | relative_url }}').then(function(reg) {
      console.log('Service Worker Registered');
    });
  }

  self.addEventListener('install', function(event) {
  event.waitUntil(
    fetchStuffAndInitDatabases()
    );
  });

  self.addEventListener('activate', function(event) {
    // all good
  });

  // pass promise to event.waitUntil to extend the installation process.
  // Once activate fires, your service worker can control pages
  </script>
</body>

</html>
